.product-space {
  padding: 100px 0;
}

.main-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5px;
}

.content p {
  font-size: 15px;
  padding: 12px 8px;
}

.content {
  padding-left: 10px;
}

.main-img img {
  width: 250px;
  height: 190px;
}

.content h4 {
  font-size: 22px;
  text-transform: capitalize;
}

.filterItems {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 600;
  margin: 0 20px;
  border-radius: 3px;
  text-align: center;
}

h6 {
  font-size: 1rem;
  color: red;
  font-size: 14px;
  font-weight: 900;
}

.category-tabs {
  text-align: center;
}

h2.text-center.py-5 {
  font-size: 60px;
  color: red;
}
